<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
<meta charset="UTF-8">
</head>
<body>
	<script th:src="@{/js/web/cv/frmcv.js}" type="text/javascript"></script>
	<nav th:insert="layout::menu"></nav>
	<button type="button" id="btnagregar" class="btn btn-primary">
		Agregar CV</button>
	<hr />
	<table class="table" id="tblcv">
		<thead>
			<tr>
				<th scope="col">Id CV</th>
				<th scope="col">ID Usuario</th>
				<th scope="col">Resumen</th>
				<th scope="col">Cargo</th>
				<th scope="col">Empresa</th>
				<th scope="col">Experiencia</th>
				<th scope="col">Educacion</th>
				<th scope="col">Habilidad</th>
				<th scope="col">Tema</th>
				<th scope="col">Idioma</th>
				<th scope="col">Proyectos</th>
				<th scope="col">Actualizar</th>
				<th scope="col">Eliminar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cv :${listarcv}">
				<td th:text="${cv.idCV}"></td>
				<td th:text="${cv.Usuario.idUsu}"></td>
				<td th:text="${cv.resumen}"></td>
				<td th:text="${cv.ExperiLaboral.cargo}"></td>
				<td th:text="${cv.ExperiLaboral.empresa}"></td>
				<td th:text="${cv.ExperiLaboral.descripcion_exp}"></td>
				<td th:text="${cv.educacion}"></td>
				<td th:text="${cv.Habilidades.habilidad}"></td>
				<td th:text="${cv.tema.tema}"></td>
				<td th:text="${cv.Idiomas.idioma}"></td>
				<td th:text="${cv.proyectos}"></td>
				<td>
					<button type="button" class="btn btn-success btnactualizar"
						th:data-idCV="${cv.idCV}"
						th:data-idUsu="${cv.Usuario.idUsu}"
						th:data-resumen="${cv.resumen}"		
						th:data-empresa="${cv.ExperiLaboral.empresa}"				
						th:data-cargo="${cv.ExperiLaboral.cargo}"
						th:data-descripcion_exp="${cv.ExperiLaboral.descripcion_exp}"
						th:data-educacion="${cv.educacion}"
						th:data-habilidad="${cv.Habilidades.habilidad}"
						th:data-tema="${cv.tema.tema}"
						th:data-idioma="${cv.Idiomas.idioma}"
						th:data-proyectos="${cv.proyectos}">
						<i class="fas fa-pen"></i>
					</button>
				</td>
				<td>
					<button type="button" class="btn btn-danger btneliminarcv"
						th:data-idCV="${cv.idCV}"
						th:data-resumen="${cv.resumen}">
						<i class="fas fa-trash"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="modal fade" id="modalCv" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modal
						Mantenimiento de CV</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="txtidusu" class="form-label">
							ID Usuario</label> 
						<input type="text" class="form-control"
							id="txtidusu" >
					</div>
					<div class="mb-3">
						<label for="txtresumen" class="form-label">
							Resumen</label> 
						<input type="text" class="form-control"
							id="txtresumen" >
					</div>
					<div class="mb-3">
						<label for="txtempresa" class="form-label">
							Empresa</label> 
						<input type="text" class="form-control"
							id="txtempresa" >
					</div>
					<div class="mb-3">
						<label for="txtcargo" class="form-label">
							Cargo</label> 
						<input type="text" class="form-control"
							id="txtcargo" >
					</div>
					<div class="mb-3">
						<label for="txtexp" class="form-label">
							Experiencia</label> 
						<input type="text" class="form-control"
							id="txtexp" >
					</div>
					<div class="mb-3">
						<label for="txtedu" class="form-label">
							Educacion</label> 
						<input type="text" class="form-control"
							id="txtedu" >
					</div>
					<div class="mb-3">
						<label for="txthab" class="form-label">
							Habilidad</label> 
						<input type="text" class="form-control"
							id="txthab" >
					</div>
					<div class="mb-3">
						<label for="txttema" class="form-label">
							Tema</label> 
						<input type="text" class="form-control"
							id="txttema" >
					</div>
					<div class="mb-3">
						<label for="txtidioma" class="form-label">
							Idioma</label> 
						<input type="text" class="form-control"
							id="txtidioma" >
					</div>
					<div class="mb-3">
						<label for="txtpro" class="form-label">
							Proyectos</label> 
						<input type="text" class="form-control"
							id="txtpro" >
					</div>
					<input type="hidden" id="hddidregistroidioma">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary"
						id="btnguardar">Guardar</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modalEliminarCv" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modal
						Eliminar CV</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">		
					<label id="mensajeeliminar"></label>
					<input type="hidden" id="hddideliminarcv"
						value="0">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary"
						id="btneliminar">Eliminar</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>